.header__img {
  height: 900px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 700px;
  z-index: 1;
}

@media (max-width:1439px) {
  .header__img {
    height: 646px;
    width: 486px;
  }
}

@media (max-width:767px) {
  .header__img {
    height: 426px;
    width: 290px;
  }
}