.header__subscribe-btn {
  background-color: black;
  border: 0.5px solid #0A0A0A;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  grid-area: subscribe;
  height: 48px;
  letter-spacing: 0.02em;
  line-height: 24px;
  margin: 32px 0 0 0;
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
  z-index: 3;
}

.header__subscribe-btn:hover {
  opacity: 0.7;
  transition: 0.35s linear;
}

@media (max-width:767px) {
  .header__subscribe-btn {
    font-size: 14px;
    height: 44px;
    line-height: 20px;
    max-width: 280px;
  }
}