.popup-menu {
  background-color: black;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  gap: 245px;
  height: 810px;
  left: 0px;
  opacity: 0;
  overflow: hidden;
  padding: 20px;
  position: fixed;
  top: 0px;
  width: 480px;
  z-index: 5;
}

@media (max-width:767px) {
  .popup-menu {
    gap: 72px;
    height: 360px;
    margin: 0;
    min-width: 320px;
    width: 100%;
  }
}