.popup-menu {
  background-color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 245px;
  height: 810px;
  left: 0px;
  opacity: 0;
  overflow: hidden;
  overflow: hidden;
  padding: 20px;
  position: fixed;
  top: 0px;
  transition: visibility .3s linear, opacity .3s ease-out;
  visibility: hidden;
  width: 480px;
  z-index: 5;
}

@media (max-width:767px) {
  .popup-menu {
    gap: 72px;
    height: 360px;
    margin: 0;
    max-width: 320px;
  }
}