.popup-menu {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 245px;
  left: 0px;
  min-height: 810px;
  opacity: 0;
  overflow: hidden;
  padding-left: 20px;
  padding-top: 20px;
  position: absolute;
  text-overflow: ellipsis;
  top: 0px;
  transition: visibility .3s linear, opacity .3s ease-out;
  visibility: hidden;
  width: 480px;
  z-index: 10;
}

@media (max-width:767px) {
  .popup-menu {
    gap: 72px;
    margin: 0;
    max-width: 320px;
  }
}