.fade-in-out {
  animation-delay: 0s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: fadeInOut;
  animation-timing-function: linear;
}

@keyframes fadeInOut {
  0%, 100%{
    opacity: .8;
  }

  70% {
    opacity: 1;
  }
}