.header__navigation-text {
  align-self: center;
  color: #0A0A0A;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 24px;
  margin: 0;
  padding-left: 64px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width:767px) {
  .header__navigation-text {
    font-size: 14px;
    line-height: 20px;
    padding-left: 44px;
  }
}