.about__img {
  height: 875px;
  margin-left: -175px;
  object-fit: cover;
  width: 700px;
}

@media (max-width:1439px) {
  .about__img {
    align-self: center;
    height: 452px;
    margin-left: -121px;
    width: 364px;
  }
}

@media (max-width:767px) {
  .about__img {
    grid-column-end: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 3;
    height: 348px;
    margin-left: 0;
    padding-top: 20px;
    width: 280px;
  }
}