.subscribe-form__check-container {
  display: flex;
  gap: 8px;
  grid-column: span 2;
}

@media (max-width:767px) {
  .subscribe-form__check-container {
    grid-column: unset;
    padding-top: 20px;
  }
}