.about__img_size_small {
  height: 618px;
  margin-left: 0;
  width: 618px;
}

@media (max-width:1439px) {
  .about__img_size_small {
    height: 304px;
    width: 304px;
  }
}

@media (max-width:767px) {
  .about__img_size_small {
    grid-column: 1;
    grid-row: 5;
    height: 280px;
    width: 280px;
  }
}