.header__title {
  font-size: 48px;
  font-weight: 500;
  grid-area: title;
  letter-spacing: 0.04em;
  line-height: 64px;
  margin: 0;
  padding-top: 242px;
  text-transform: uppercase;
  word-wrap: break-word;
  z-index: 2;
}

@media (max-width:1439px) {
  .header__title {
    font-size: 32px;
    line-height: 40px;
    padding-top: 155px;
  }
}

@media (max-width:767px) {
  .header__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    padding-top: 75px;
  }
}