.subscribe-form__check-label {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width:767px) {
  .subscribe-form__check-label {
    font-size: 14px;
    line-height: 20px;
  }
}